name: Deploy Pull Request on Dev org

on:
  pull_request:
    types: [opened, reopened, synchronize]

env:
  SFDX_AUTOUPDATE_DISABLE: true
  SFDX_USE_PROGRESS_BAR: false
  SFDX_DOMAIN_RETRY: 300
  SFDX_DISABLE_PRETTIFY: true
  SFDX_LOG_LEVEL: fatal
  SFDX_JSON_TO_STDOUT: true

jobs:
  test:
  
    runs-on: ubuntu-latest
    
    steps:
      - uses: sfdx-actions/setup-sfdx@v1
        with:
          sfdx-auth-url: ${{ secrets.SFDX_AUTHEN_DEV_URL }}
      - name: 'Installing SFDX scanner'
        run: sfdx plugins:install @salesforce/sfdx-scanner
      - name: Checkout code
        uses: actions/checkout@v2
      - name: 'Scan code'
        run: |
          sfdx scanner:run --format sarif --target './**/*.cls' --category "Design,Best Practices,Performance" --outfile 'apexScanResults.sarif'  
      - name: 'Check-only deploy delta changes - run all tests'
        run: |
          sfdx force:source:manifest:create --sourcepath force-app --manifestname package
          sfdx force:source:deploy -l RunLocalTests -u ${{ secrets.SFDX_USERNAME_DEV }} --manifest package.xml --checkonly --json
